  /// CARDS

.cards {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;

	
		@include breakpoint(break1) {}
		@include breakpoint(break2) {
			flex-direction:row; 
			flex-wrap: wrap;
			justify-content:space-between;
			}
		@include breakpoint(break3) {}
		@include breakpoint(break4) {}
		@include breakpoint(break5) {}	
		@include breakpoint(break6) {}	
	
	//border: 1px solid red;
	

				  .card {
					  //border: 1px solid green;	  
					  margin-bottom: 1rem;
					  border-radius: .2rem;
					  height: 18vh;
					  max-height: 18vh;
					  transition: all .3s ease;
					  min-width: 100%;
					  
					  		@include breakpoint(break1) {}
					  		@include breakpoint(break2) {
								min-width: calc(50% - 1rem);
								min-height:40vh;
								margin-bottom: 2rem;
								margin-right:0; 
								&:nth-child(odd) {margin-right: 1rem;}
								&:last-child {margin-right: 0; flex-grow: 2;}

								}
					  		@include breakpoint(break3) {}
					  		@include breakpoint(break4) {}
					  		@include breakpoint(break5) {}	
					  		@include breakpoint(break6) {}

					  
					  
					&.ourfoodcard {
						background: url(../img/OurFood.jpg) center center no-repeat;
						background-size:cover;
						}		
				    
				    &.ourdrinkcard {
					    background: url(../img/OurDrinks.jpg) center center no-repeat;
					    background-size:cover;
						}
 
				  	
				  	h1 {
					  	align-self:flex-end;
					  	padding: .5rem;
					  	background: $dark-blue;
					  	//width: 100%;					  
					  	font-size: 2rem;
					  	text-align: center;
					  	color: #fff;
					  	border-radius: 0 0 .2rem .2rem;
					  	transition: all .1s ease-in-out;

					  	&:hover {
						  	background: lighten($dark-blue, 4%); text-decoration: underline;
					  	}
				  		}
				  		
				  	a {	
					  	align-self:flex-end;
					  	width: 100%;					  
					  	font-size: 2rem;
					  	text-align: center;
					  	color: #fff;
					  	border-radius: 0 0 .2rem .2rem;
					  	text-decoration: none;
					  	transition: all .1s ease-in-out;
					  	
					  	&:hover {
						  	background: lighten($dark-blue, 20%);
					  	}
					  	
				  	}	
				  	
			}	
			
			.compact-card {
					flex-direction: co;
					flex-wrap: wrap; 
					margin-bottom: 1rem;
					border-radius: .2rem;
					height: 18vh;
					max-height: 18vh;
					transition: all .3s ease;
					width: calc(50% - 0.5rem);
					font-size: .8rem;
					margin-right: 0;
					
					&:nth-child(odd) {margin-right: 1rem;}

				  		@include breakpoint(break2) {
							width: calc(50% - 1rem);
							min-height:26vh;
							margin-bottom: 1rem;
							margin-right:0; 
								&:nth-child(odd) {margin-right: 1rem;}
								&:last-child {margin-right: 0; flex-grow: 2;}
							}
							
				  		@include breakpoint(break4) {						  		
					  		width: calc(33.333% - 1rem);
							min-height:26vh;
							margin-bottom: 1rem;
							margin-right: 0.5rem;
								&:nth-child(odd) {margin-right: 0.5rem;}
								&:nth-child(3n+3) {margin-right: 0rem;}
								&:last-child {margin-right: 0; flex-grow: 2;}
							}
				  		
				  		@include breakpoint(break6) {						  		
					  		width: calc(25% -  1rem);
							min-height:26vh;
							margin-bottom: 1rem;
							margin-right:0.5rem;
								&:nth-child(odd) {margin-right: 0.5rem;}
								&:nth-child(3n+3) {margin-right: 0.5rem;} 
								&:nth-child(4n+4) {margin-right: 0rem; }
								&:last-child {margin-right: 0; flex-grow: 2;}
					  		}
					  								
						h1 {
							
					  	align-self:flex-end;
					  	padding: .5rem;
					  	background: $dark-blue;
					  	font-size: 1.3rem;
					  	text-align: center;
					  	color: #fff;
					  	border-radius: 0 0 .2rem .2rem;
					  	transition: all .1s ease-in-out;

					  	&:hover {
						  	background: lighten($dark-blue, 4%); text-decoration: underline;
					  	}
				  		}
				  		
				  	a {	
					  	align-self:flex-end;
					  	width: 100%;					  
					  	font-size: 2rem;
					  	text-align: center;
					  	color: #fff;
					  	border-radius: 0 0 .2rem .2rem;
					  	text-decoration: none;
					  	transition: all .1s ease-in-out;
					  	
					  	&:hover {
						  	background: lighten($dark-blue, 20%);
					  	}
					  }	
			
					
					
						&.starters {background: url(../img/food/starters.jpg) center center no-repeat; background-size:cover;}
						&.sides {background: url(../img/food/sides.jpg) center center no-repeat; background-size:cover;}					
						&.mains {background: url(../img/food/mains.jpg) center center no-repeat; background-size:cover;}
						&.grill {background: url(../img/food/special.jpg) center center no-repeat; background-size:cover;}
						&.burgers {background: url(../img/food/burger.jpg) center center no-repeat; background-size:cover;}						
						&.sunday {background: url(../img/food/sunday.jpg) center center no-repeat; background-size:cover;}																	
						&.brunch {background: url(../img/food/brunch.jpg) center center no-repeat; background-size:cover;}						
						&.kids {background: url(../img/food/kids.jpg) center center no-repeat; background-size:cover;}					
						&.veggie {background: url(../img/food/veggie.jpg) center center no-repeat; background-size:cover;}						
						&.specials {background: url(../img/food/special.jpg) center center no-repeat; background-size:cover;}					
					}//.COMPACT-CARDS  			
			
					
			
			
	  
	  }//cards
	  
	  