  /// PRODUCTS - USED ON LISTING AND PRODUCT PAGE

.products {
	width: 90%;
	margin: 0 auto;
	display: flex;
	//align-content: space-around;
	flex-direction: column;
	//border: 1px solid red;
	
	
	 .menu-section {
		//border: 1px solid blue;
		margin-bottom: 2rem;
		
		h2 {
			 text-align: center;
			 font-size: 1rem;
			 background: $dark-blue;
			 color: #fff;
			 padding: 1rem;
			 border-radius: .5rem;	 
			}
				
		a {
			text-decoration: none;
			transition: all .8s ease; 

			&:hover {
				//text-decoration: underline;
				}
		}	
			
		.product {
			margin-bottom: .4rem;
			box-shadow: 0px 3px 5px lighten($dark-blue, 80%);
			padding: .3rem 1rem;;
			border: solid #fff .0325rem;
			border-bottom: solid lighten($dark-blue, 60%) .0325rem;
			transition: all .5s ease; 
			
			.VE { //sizes are connected - line height and width double border radius to maintain circle
				float: right;
				text-align: center;
				background: lighten($yellow, 30%);
				font-size: .6rem;
				line-height: 1.6rem;
				width:1.6rem;
				font-weight: bold;
				border-radius: .8rem;
				margin-right: .3rem;
					&::after {content:"VE"}
				}
				
			.V { //sizes are connected - line height and width double border radius to maintain circle
				float: right;
				text-align: center;
				background: lighten($green, 30%);
				font-size: .6rem;
				line-height: 1.6rem;
				width:1.6rem;
				font-weight: bold;
				border-radius: .8rem;

					&::after {content:" V "}
				}
			
			.GF { //sizes are connected - line height and width double border radius to maintain circle
				float: right;
				text-align: center;
				background: lighten($purple, 30%);
				font-size: .6rem;
				line-height: 1.6rem;
				width:1.6rem;
				font-weight: bold;
				border-radius: .8rem;

					&::after {content:"GF"}
				}
			
			
			&:hover{
				background: #fff;
				box-shadow: 0px 4px 6px lighten($dark-blue, 70%);
				}
				
			&:active {
				background: #fff;
				box-shadow: 0px 0px 0px lighten($dark-blue, 70%), inset 0 10px 15px lighten($dark-blue, 80%), inset 0 -15px 15px lighten($dark-blue, 80%), ;	

				} 
			
			}
				
			
		  
	 	}
					  
	  }//products
	  
	  